/* CREATING SCROLL SMOOTH EFFECT  */
html {
  scroll-behavior: smooth;
}

/* CHOOSING THE PROJECT FONT */
body {
  font-family: "Bangers", cursive;
}

/* HEADING SECTION MAIN SLOGAN WELCOME PAGE*/
#header {
  position: relative;
  background: url("../img/monkees.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  font-size: 4rem;
}

.slogan {
  padding-top: 8rem;
  text-align: center;
}

#header a {
  text-decoration: none;
  color: white;
}

#header .img-middle {
  opacity: 0.3;
}
/* DARK OVERLAY OVER THE BACKGROUND IMAGE */
#header .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

/* RED HIGHLIGHT FOR LETTERS IN SECTION HEADERS */

.red-highlight {
  background: rgb(168, 19, 19);
  padding: 5px;
  color: white;
  opacity: 0.7;
}

/* BLACK HIGHLIGHT FOR LETTERS IN SECTION HEADERS */

.black-highlight {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  color: white;
  opacity: 0.7;
}

/* NAVIGATION BAR ADJUSTMENT */

.navbar-brand {
  font-size: 1.5rem;
}

#main-navigation nav {
  opacity: 0.95;
}

#main-navigation {
  font-size: 1.5rem;
}

/* NEWS SECTION  */

#news {
  position: relative;
  height: 650px;
  background: url("../img/drumer.jpg");
  background-size: cover;
  background-position: top;
  color: white;
  opacity: 0.9;
}

#news .news-content {
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black;
  opacity: 0.8;
  font-size: 6rem;
}

/* CONCERTS SECTION  */

#concerts {
  height: 650px;
  background: url("../img/concert.jpg");
  background-size: cover;
  background-position: top;
  color: white;
  opacity: 0.8;
}

#concerts .concerts-content {
  padding: 3rem;
  position: relative;
  top: 0;
  left: 0;
  height: 650px;
  background: rgb(168, 19, 19);
  opacity: 0.9;
  font-size: 6rem;
}
#concerts .lead {
  font-size: 2rem;
}

/* ALBUMS SECTION  */

#albums {
  position: relative;
  height: 170px;
  background: url("../img/gramophone.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#albums .albums-content {
  position: relative;
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 6rem;
  text-align: center;
}

#albums-list {
  background: white;
  color: black;
  font-size: 6rem;
}

/* VIDEO SECTION  */

#video {
  padding: 3rem;
  height: 700px;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 6rem;
}

.video-box {
  background: black;
  height: 420px;
}

.video-description {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}

/* BOOK A SHOW SECTION  */

#book {
  padding: 3rem;
  height: 700px;
  background: url("../img/book.jpg");
  background-size: cover;

  color: white;
  font-size: 6rem;
}

/* POSTERS SECTION  */

#posters {
  padding: 3rem;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 6rem;
}

#posters img {
  opacity: 0.6;
}

/* SOCIAL SECTION  */

#social {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 3rem;
}

#social a {
  text-decoration: none;
  color: white;
}

/* FIX IPHONE BACKGROUND PROBLEM  */

@media only screen and (max-width: 480px) {
  #albums p {
    font-size: 4rem;
  }

  #header {
    background-attachment: initial;
  }
}
